<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimplePhysicsBasedUI_UX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>274318532131610A00B6D993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274318722131610B00B6D993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2743187D2131610B00B6D993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
